.tab-container {
    display: flex;
}

.tab-button {
    padding: 10px 20px;
    background-color: #ccc;
    cursor: pointer;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

fieldset {
    background-color: rgb(233, 229, 224);
}

form {
    width: 50%;
    padding-left: 20px;
}


td {
    font-size: 20px;
}

body {
    background-color: rgb(73, 72, 72);
}